.listContainerDiv{
    width: 500px;
    margin: 10px auto;
    text-align: left;
    background-color: #fff;  
    position: relative;   
}

.listContainerDiv .listItem{
    padding: 0;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
}

.listContainerDiv .listItem.checked{
    text-decoration: line-through;
    color: #ccc;
}

.listContainerDiv .listItem span{
    width: 80%;
    margin-left: 10px;
}

.listContainerDiv .closeIcon{
    display: none;
}

.listItem:hover .closeIcon{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: maroon;
    display: block;
    cursor: pointer;
}

/*.listContainerDiv ul{
    list-style-type: none;
    padding-left: 0;
}*/